@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 300px;
    height: 300px;
  }
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    width: 300px;
    height: 300px;
  }
}

@mixin animation-saf($duration: .3s) {
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}

/* Jello animation*/

@-webkit-keyframes jello {
  11.1% { -webkit-transform: none; transform: none; }
  22.2% { -webkit-transform: skewX(-12.5deg) skewY(-12.5deg); transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% { -webkit-transform: skewX(6.25deg) skewY(6.25deg); transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% { -webkit-transform: skewX(-3.125deg) skewY(-3.125deg); transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% { -webkit-transform: skewX(1.5625deg) skewY(1.5625deg); transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% { -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg); transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% { -webkit-transform: skewX(0.390625deg) skewY(0.390625deg); transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% { -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg); transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
  100% { -webkit-transform: none; transform: none; }
}

@keyframes jello {
  11.1% { -webkit-transform: none; transform: none; }
  22.2% { -webkit-transform: skewX(-12.5deg) skewY(-12.5deg); transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% { -webkit-transform: skewX(6.25deg) skewY(6.25deg); transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% { -webkit-transform: skewX(-3.125deg) skewY(-3.125deg); transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% { -webkit-transform: skewX(1.5625deg) skewY(1.5625deg); transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% { -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg); transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% { -webkit-transform: skewX(0.390625deg) skewY(0.390625deg); transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% { -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg); transform: skewX(-0.1953125deg) skewY(-0.1953125deg); }
  100% { -webkit-transform: none; transform: none; }
}


@mixin animation-jello($duration: .8s, $iteration: 1) {
  opacity: 1;
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;

  &:hover {
    opacity: .75;
    -webkit-animation: jello $duration $iteration;
    animation: jello $duration $iteration;
    -webkit-transform-origin: center;
    transform-origin: center;
  }

}

/* Bounce animation*/










@-webkit-keyframes bounceZoom {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(.96); transform: scale(.96); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}










@keyframes bounceZoom {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(.96); transform: scale(.96); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

@mixin animation-bounce($duration: .5s, $iteration: 1) {
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;

  &:hover {
    -webkit-animation: bounceZoom $duration $iteration;
            animation: bounceZoom $duration $iteration;
    -webkit-transform-origin: center;
            transform-origin: center;

  }

}

@-webkit-keyframes small-jello {
  11.1% {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-2.5deg) skewY(-2.5deg);
    transform: skewX(-2.5deg) skewY(-2.5deg);
  }
  33.3% {
    -webkit-transform: skewX(3.25deg) skewY(3.25deg);
    transform: skewX(3.25deg) skewY(3.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-1.125deg) skewY(-1.125deg);
    transform: skewX(-1.125deg) skewY(-1.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes small-jello {
  11.1% {
    -webkit-transform: none;
    transform: none;
  }
  22.2% {
    -webkit-transform: skewX(-2.5deg) skewY(-2.5deg);
    transform: skewX(-2.5deg) skewY(-2.5deg);
  }
  33.3% {
    -webkit-transform: skewX(3.25deg) skewY(3.25deg);
    transform: skewX(3.25deg) skewY(3.25deg);
  }
  44.4% {
    -webkit-transform: skewX(-1.125deg) skewY(-1.125deg);
    transform: skewX(-1.125deg) skewY(-1.125deg);
  }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@mixin animation-small-jello($duration: .8s, $iteration: 1) {
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;

  &:hover {
    -webkit-animation: small-jello $duration $iteration;
    animation: small-jello $duration $iteration;
    -webkit-transform-origin: center;
    transform-origin: center;
  }

}

@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@mixin animation-buzz-out($duration: .8s, $iteration: 1) {
  -webkit-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;

  &:hover {
    -webkit-animation: buzz-out $duration $iteration;
    animation: buzz-out $duration $iteration;
    -webkit-transform-origin: center;
    transform-origin: center;
  }

}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



@-webkit-keyframes bounce-width {
  0% {
    opacity: 0;
    width: 0;
  }
  60% {
    width: 107%;
  }
  66% {
    width: 66%;
  }
  76% {
    width: 107%;
  }
  86% {
    width: 86%
  }
  92% {
    width: 100%
  }
  96% {
    width: 99%;
  }
  100% {
    opacity: 1;
    width: 107%;
  }
}



@keyframes bounce-width {
  0% {
    opacity: 0;
    width: 0;
  }
  60% {
    width: 107%;
  }
  66% {
    width: 66%;
  }
  76% {
    width: 107%;
  }
  86% {
    width: 86%
  }
  92% {
    width: 100%
  }
  96% {
    width: 99%;
  }
  100% {
    opacity: 1;
    width: 107%;
  }
}


@-webkit-keyframes left-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


@keyframes left-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}




@keyframes flowing {
  0% {
    transform: translateX(-1%);
  }
  25% {
    transform: translateX(-3.5%);
  }
  75% {
    transform: translateX(3.5%);
  }
  100% {
    transform: translateX(-1%);
  }
}

@keyframes flowing-2 {
  0% {
    transform: translateX(-2.9%);
  }
  40% {
    transform: translateX(2.9%);
  }
  100% {
    transform: translateX(-2.9%);
  }
}
