/*---------------------------------------------------*\
    #00-settings Colors
\*---------------------------------------------------*/


/*//*/
/*/ @group colors*/
/*//*/

/*/ @type hex*/
$iscss-color__primary_white:         #ffffff;

/*/ @type hex*/
$iscss-color__primary_black:         #000000;

/*/ @type hex*/
$iscss-color__primary_red:         crimson;


$color-text: #434343;
$color-ruby: #d81159;
$color-blue: #0079bf;
$color-blue-light: #0496ff;
$color-yellow: #ffbc42;
$color-orange: #f6511d;
$color-green: #44af69;
$color-grey: #cccccc;
$color-grey-light: #eeeeee;
$color-grey-lightest: #efefef;
$color-red: #d70a0a;
