/*------------------------------------*\
    #70-organisms order-box
\*------------------------------------*/
/*//*/
/*/ @group order-box*/
/*//*/

/*/ @group default*/
/*/ @type namespace*/
$iscss-namespace-order-box:   $iscss-namespace !default;

.#{$iscss-namespace-order-box}order-box {
  &__item {
    /*GRADIENT*/
    position: relative;
    background: #0496ff;
    background: -moz-linear-gradient(-45deg, #0496ff 0%, #0079bf 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #0496ff), color-stop(100%, #0079bf));
    background: -webkit-linear-gradient(-45deg, #0496ff 0%, #0079bf 100%);
    background: -o-linear-gradient(-45deg, #0496ff 0%, #0079bf 100%);
    background: -ms-linear-gradient(-45deg, #0496ff 0%, #0079bf 100%);
    background: linear-gradient(135deg, #0496ff 0%, #0079bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0496ff', endColorstr='#0079bf', GradientType=1 );
    /*OTHERSTYLES*/
    display: block;
    border-radius: 100px 0;
    max-width: calculate-rem(900px);
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    padding: calculate-rem(60px) calculate-rem(90px);
    color: white;
    text-align: center;
    &__title {
      @include iscss-font-size(40px, 1.2);
      font-weight: 700;
      text-align: center;
      strong {
        font-weight: 800;
      }
    }
    &__subtitle {
      @include iscss-font-size(24px,1.2);
      text-align: center;
      font-weight: 700;

    }
    &__link {
      margin-top: calculate-rem($iscss-margin*.8);
      @include iscss-transition();
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
  @include media-breakpoint-down(sm) {
    &__item {
      border-radius: 0;
      padding: calculate-rem(45px) calculate-rem(45px);
    }
  }
  @include media-breakpoint-down(xs) {
    &__item {
      margin-top: 0px;
      padding: calculate-rem(30px) calculate-rem(15px);
      &__title {
        @include iscss-font-size(24px, 1.2);
      }
      &__subtitle {
        @include iscss-font-size(20px, 1.3);
      }
      &__link {
        @include iscss-font-size(20px,1);
        padding-right: calculate-rem(30px);
        padding-left: calculate-rem(30px);
      }
    }
  }
}
